$header-text: #FFFFFF;
$off-white:#F3F3F4;
$text: #545775;
$bg-main:#DBCFB0;
$bg-panel:#EBE0D6;
$bg-footer:#BFC8AD;

* {
    box-sizing: border-box;
}

body {
 margin: 0;
 background-image: url('../images/hero-image.png');
 background-position: center;
 background-size: cover;
 background-position-y: 70%;
}

//Font/text templates
.header-text {
color: $off-white;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 1.3rem;
    &#panel {
        color: $text;
    }
}

.sub-header-text {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
letter-spacing: .2rem;

    &#panel {
        color: $text;
    }
}

p {
    font-family: 'Esteban', serif;
    color: $text;
    letter-spacing: .2rem;
}


header {
    nav {
        text-align: center;
        ul {
            display: inline-flex;
            list-style: none;
            width: 85%;
            justify-content: space-between;
            padding: 0;
            
            li {
                font-family: 'Esteban', serif;
                color: $text;
                letter-spacing: .2rem;
    
                &.header-text {
                    font-size: 3rem;
                }
    
                img {
                    height: 15px;
                    width: auto;
                }
            }
        }
    }
}

h1.header-text {
    text-align: center;
    font-size: 11.2rem;
}

div.landing {
    min-height: 80vh;
}





