$header-text: #FFFFFF;
$off-white:#F3F3F4;
$text: #545775;
$bg-main:#DBCFB0;
$bg-panel:#EBE0D6;
$bg-footer:#BFC8AD;

* {
    box-sizing: border-box;
}

body {
 margin: 0;
 background-image: url('../images/hero-image.png');
//  background-position: center;
 background-size: 1620px 2488px;
 background-repeat: no-repeat;
 background-position-x: 80%;
 background-position-y: -2050%;
//  background-position-x: 74%;
}

//Font/text templates
.header-text {
color: $off-white;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 1.3rem;
    &#panel {
        color: $text;
    }
}

.sub-header-text {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
letter-spacing: .2rem;

    &#panel {
        color: $text;
    }
}

p {
    font-family: 'Esteban', serif;
    color: $text;
    letter-spacing: .2rem;
}


header {
    nav {
        text-align: center;
        ul {
            display: inline-flex;
            list-style: none;
            width: 85%;
            justify-content: space-between;
            padding: 0;
            
            li {
                font-family: 'Esteban', serif;
                color: $text;
                letter-spacing: .2rem;
    
                &.header-text {
                    font-size: 3rem;
                }
    
                img {
                    height: 15px;
                    width: auto;
                }
            }
        }
    }
}

h1.header-text {
    text-align: center;
    font-size: 11.2rem;
    color: #ffffff;
}

div.landing {
    min-height: 80vh;

    div.image {
        text-align: center;
        min-height: 30vh;
        img {
            height: .8rem;
            position: absolute;
            bottom: 6%;
        }
    }
}

div.panel {
    background-color: $bg-main;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .2rem;
    color: $text;

    //add repeat sliding animation banner opposite directions
    ul.panel-images {
        list-style: none;
        width: 100%;
        margin: auto;
        padding: 0%;
        display: inline-flex;
        justify-content: space-evenly;
        li {
            width: 10rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

        }
    }

    //add repeat sliding animation banner
    h2.header-text {
        text-transform: uppercase;
        letter-spacing: .35rem;
        font-size: 3.5rem;
    }

    div.collection {
        display: flex;
        margin-left: 108px;
        padding-bottom: 4.5rem;

        div.row {
            width: 50%;
            padding-top: 2rem;
            padding-right: 3rem;

            h3 {
                font-size: 37px;
                margin-bottom: .7rem;
            }
            h4 {
                font-weight: 500;
                font-size: 18.5px;
                img {
                    height: .7rem;
                    padding-right: .2rem;
                }
            }
            p {
                letter-spacing: .13rem;
                line-height: 1.6rem;
            }
        }
        div.image {
            width: 50%;
            ul {
                margin: 0;
                width: auto;
                display: flex;
                overflow: hidden;
                padding-left: 2rem;
                img {
                    height: 30rem;
                    position: relative;                
                }
            }
        }
    }

    div.panel-2 {
        background-color: $bg-panel;
        display: flex;
        padding-top: 6rem;
        padding-bottom: 3rem;

        div.row {
            h2.header-text#panel {
                font-size: 2rem;
                letter-spacing: .3rem;
                text-align: right;
                margin-left: 11rem;
            }
            h3.sub-header-text#panel {
                text-align: right;
                font-size: 1.4rem;
                margin-left: 6rem;

            }
            margin-right: 108px;
            padding-top: 5rem;
        }

        div.image {
            width: 80%;
            padding-left: 108px;
            padding-bottom: 4rem;
            overflow: hidden;


            ul {
                margin: 0;
                width: auto;
                display: flex;
                padding-left: 0;
                justify-content: space-around;

                img {
                    height: 30rem;
                    position: relative; 
                    border-radius: 2.5rem;               
                }
            }
        }


    }
}





