* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-image: url("../images/hero-image.png");
  background-size: 1620px 2488px;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: -200%; }

.header-text {
  color: #F3F3F4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.3rem; }
  .header-text#panel {
    color: #545775; }

.sub-header-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .2rem; }
  .sub-header-text#panel {
    color: #545775; }

p {
  font-family: 'Esteban', serif;
  color: #545775;
  letter-spacing: .2rem; }

header {
  top: 2%;
  position: fixed;
  width: 100%;
  z-index: 1; }
  header nav {
    text-align: center; }
    header nav ul {
      display: inline-flex;
      list-style: none;
      width: 85%;
      justify-content: space-between;
      padding: 0; }
      header nav ul li {
        font-family: 'Esteban', serif;
        color: #545775;
        letter-spacing: .2rem; }
        header nav ul li.header-text {
          font-size: 3rem; }
        header nav ul li img {
          height: 15px;
          width: auto; }

h1.header-text {
  text-align: center;
  font-size: 11.2rem;
  color: #ffffff; }

div.landing {
  min-height: 80vh; }
  div.landing div.image {
    text-align: center;
    min-height: 30vh; }
    div.landing div.image img {
      height: .8rem;
      position: absolute;
      bottom: 6%; }

div.panel {
  background-color: #DBCFB0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .2rem;
  color: #545775; }
  div.panel ul.panel-images {
    list-style: none;
    width: 100%;
    margin: auto;
    padding: 0%;
    display: inline-flex;
    justify-content: space-evenly; }
    div.panel ul.panel-images img {
      height: 33rem;
      padding-bottom: 2rem;
      width: 100%;
      overflow: hidden; }
  div.panel h2.header-text {
    text-transform: uppercase;
    letter-spacing: .35rem;
    font-size: 3.5rem; }
  div.panel div.collection {
    display: flex;
    margin-left: 108px;
    padding-bottom: 4.5rem; }
    div.panel div.collection div.row {
      width: 50%;
      padding-top: 2rem;
      padding-right: 3rem; }
      div.panel div.collection div.row h3 {
        font-size: 37px;
        margin-bottom: .7rem; }
      div.panel div.collection div.row h4 {
        font-weight: 500;
        font-size: 18.5px; }
        div.panel div.collection div.row h4 img {
          height: .7rem;
          padding-right: .2rem; }
      div.panel div.collection div.row p {
        letter-spacing: .13rem;
        line-height: 1.6rem; }
    div.panel div.collection div.image {
      width: 50%; }
      div.panel div.collection div.image ul {
        margin: 0;
        width: auto;
        display: flex;
        overflow: hidden;
        padding-left: 2rem; }
        div.panel div.collection div.image ul img {
          height: 30rem;
          position: relative; }
  div.panel div.panel-2 {
    background-color: #EBE0D6;
    display: flex;
    padding-top: 6rem;
    padding-bottom: 3rem; }
    div.panel div.panel-2 div.row {
      margin-right: 108px;
      padding-top: 5rem; }
      div.panel div.panel-2 div.row h2.header-text#panel {
        font-size: 2rem;
        letter-spacing: .3rem;
        text-align: right;
        margin-left: 11rem; }
      div.panel div.panel-2 div.row h3.sub-header-text#panel {
        text-align: right;
        font-size: 1.4rem;
        margin-left: 6rem; }
    div.panel div.panel-2 div.image {
      width: 80%;
      padding-left: 108px;
      padding-bottom: 4rem;
      overflow: hidden; }
      div.panel div.panel-2 div.image ul {
        margin: 0;
        width: auto;
        display: flex;
        padding-left: 0;
        justify-content: space-around; }
        div.panel div.panel-2 div.image ul img {
          height: 30rem;
          position: relative;
          border-radius: 2.5rem; }
