* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-image: url("../images/hero-image.png");
  background-position: center;
  background-size: cover;
  background-position-y: 70%; }

.header-text {
  color: #F3F3F4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.3rem; }
  .header-text#panel {
    color: #545775; }

.sub-header-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .2rem; }
  .sub-header-text#panel {
    color: #545775; }

p {
  font-family: 'Esteban', serif;
  color: #545775;
  letter-spacing: .2rem; }

header nav {
  text-align: center; }
  header nav ul {
    display: inline-flex;
    list-style: none;
    width: 85%;
    justify-content: space-between;
    padding: 0; }
    header nav ul li {
      font-family: 'Esteban', serif;
      color: #545775;
      letter-spacing: .2rem; }
      header nav ul li.header-text {
        font-size: 3rem; }
      header nav ul li img {
        height: 15px;
        width: auto; }

h1.header-text {
  text-align: center;
  font-size: 11.2rem; }

div.landing {
  min-height: 80vh; }
  div.landing div.image {
    text-align: center; }
    div.landing div.image img {
      height: .8rem; }
