footer {
  background-color: #BFC8AD;
  height: auto;
  text-align: center;
  width: 100%;
  bottom: 0; }
  footer ul {
    list-style: none;
    display: inline-flex;
    width: 80%;
    padding: 0;
    margin-top: 1rem; }
    footer ul ul.sub-list {
      display: inline-block; }
      footer ul ul.sub-list li {
        color: #F3F3F4;
        letter-spacing: .2rem;
        padding-bottom: .2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: .7rem; }
      footer ul ul.sub-list li.sub-header-text {
        color: #F3F3F4;
        letter-spacing: .2rem;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: .2rem;
        text-decoration: underline; }
  footer li.sub-header-text {
    list-style: none;
    padding-bottom: 1.5rem;
    color: #F3F3F4;
    font-weight: 400;
    padding-top: .2rem;
    letter-spacing: .18rem; }
